[submodule "vendor/PathOfBuilding"]
	path = vendor/PathOfBuilding
	url = https://github.com/PathOfBuildingCommunity/PathOfBuilding.git
[submodule "vendor/zlib-ng"]
	path = vendor/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/atty303/lua.git
