@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  theme: dark --default;
  logs: false;
}

/* https://github.com/saadeghi/daisyui/issues/3040 */
html {
  scrollbar-gutter: auto !important;
}
